<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
     <h1 class="display-4">BusyBus.com</h1>
      
    </div>
    <div>
     <div class="about-wrapper" role="scroll-destination">
      <div class="container">
        <div class="about text-center">
        <h3>We operate over 5 nations</h3>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <a href="#"><img src="/images/indianflag.png" alt="India"></a>
            </div>
            <h4>India</h4>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <a href="#"><img src="/images/spain.png" alt="Spain"></a>
            </div>
            <h4>Spain</h4>
           </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <a href="#"><img src="/images/america.png" alt="America"></a>
            </div>
            <h4>America</h4>
          </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <a href="#"><img src="/images/newzealand.png" alt="America"></a>
            </div>
            <h4>New Zealand</h4>
          </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <a href="#"><img src="/images/australia.png" alt="America"></a>
            </div>
            <h4>Australia</h4>
          </div>
        </div>
      </div>
     </div>
    
      
    </div>
    
  </div>
    
  </div>
</div>

  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
