<div id="welcome">
  <div class="container">
    <h1 style="color: #FFA07A;">Welcome!</h1>
    <p style="color: #FFA07A;">To your personal homepage</p>
    <div class="about-wrapper">
      <h3>Indian cities we operate in</h3>
      <div class="features text center">
         <div class="row">
           <div class="feature mb-4 mb-sm-0 col-sm">
             <div class="icon">
               <img src="/images/lucknow.jfif" alt="Lucknow">
             </div>
             <h4>Lucknow</h4>
           </div>
           <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/Chennai.jfif" alt="Chennai">
            </div>
            <h4>Chennai</h4>
           </div>
           <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/kolkata.jfif" alt="Kolkata">
            </div>
            <h4>Kolkata</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/mumbai.jfif" alt="Mumbai">
            </div>
            <h4>Mumbai</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/bengaluru.jfif" alt="Bengaluru">
            </div>
            <h4>Bengaluru</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/hyderabad.jfif" alt="Hyderabad">
            </div>
            <h4>Hyderabad</h4>
          </div>
         </div>
      </div>
    </div>
    <div class="about-wrapper australia">
      <h3>Australian Cities we operate in</h3>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/melbourne.jfif" alt="Melbourne">
            </div>
            <h4>Melbourne</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/perth.jfif"  alt="Perth">
            </div>
            <h4>Perth</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/sydney.jfif" alt="Sydney">
            </div>
            <h4>Sydney</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/queensland.jfif" alt="Queensland">
            </div>
            <h4>Queensland</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/brisbane.jfif" alt="Brisbane">
            </div>
            <h4>Brisbane</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/adelaide.jfif" alt="Adelaide">
            </div>
            <h4>Adelaide</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="about-wrapper america">
      <h3>American Cities we operate in</h3>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/newyork.jfif" alt="New York">
            </div>
            <h4>New York</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/losangeles.jfif" alt="Los Angeles">
            </div>
            <h4>Los Angeles</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/sandiego.jfif" alt="San Diego">
            </div>
            <h4>San Diego</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/chicago.jfif" alt="Chicago">
            </div>
            <h4>Chicago</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/seattle.jfif" alt="Seattle">
            </div>
            <h4>Seattle</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/detroit.jfif" alt="Detroit">
            </div>
            <h4>Detroit</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="about-wrapper newzealand">
      <h3>New Zealand Cities we operate in</h3>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/auckland.jfif" alt="Auckland">
            </div>
            <h4>Auckland</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/napier.jfif" alt="Napier">
            </div>
            <h4>Napier</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/hamilton.jfif" alt="Hamilton">
            </div>
            <h4>Hamilton</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/wellington.jfif" alt="Wellington">
            </div>
            <h4>Wellington</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/christchurch.jfif" alt="Christchurch">
            </div>
            <h4>Christchurch</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/tauranga.jfif" alt="Tauranga">
            </div>
            <h4>Tauranga</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="about-wrapper spain">
      <h3>Spanish Cities we operate in</h3>
      <div class="features text-center">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/madrid.jfif" alt="Madrid">
            </div>
            <h4>Madrid</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/barcelona.jfif" alt="Barcelona">
            </div>
            <h4>Barcelona</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/granada.jfif" alt="Granada">
            </div>
            <h4>Granada</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/valencia.jfif" alt="Valencia">
            </div>
            <h4>Valencia</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/bilbao.jfif" alt="Bilbao">
            </div>
            <h4>Bilbao</h4>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <img src="/images/serville.jfif" alt="Serville">
            </div>
            <h4>Serville</h4>
          </div>
        </div>
      </div>
    </div>
    <h3 id="heading" style="color:#FFA07A;">Choose your Country!</h3>
    <div class="row ticket-button">
     <button type="button" id="but1" class="btn btn-primary"><a href="/busindia">India</a></button>
      <button type="button" id="but2" class="btn btn-primary"><a href="/busaustralia">Australia</a></button>
      <button type="button" id="but3" class="btn btn-primary"><a href="/busamerica">America</a></button>
      <button type="button" id="but4" class="btn btn-primary"><a href="/busnewzealand">New Zealand</a></button>
      <button type="button" id="but5" class="btn btn-primary"><a href="/busspain">Spain</a></button>
    </div>
  </div>
 <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
